<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="example.sample.project.repository.mybatis.FoodItemMapper">
	
	<insert id="insert" parameterType="FoodItem">
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
			SELECT foodItemPK.nextVal as id from dual
		</selectKey>
		insert into foodItem(id, itemName, content, price)
		values( #{id}, #{itemName}, #{content}, #{price})
	</insert>
	
	<select id="selectById" resultType="FoodItem">
		select id, itemName, content, price
		from foodItem
		where id = #{id}
		ORDER BY id
	</select>	
	
	<select id="selectAll" resultType="FoodItem">
		select id, itemName, content, price
		from foodItem
		ORDER BY id
	</select>
	
<!-- 	<select id="selectSearchAll" resultType="FoodItem"> -->
<!-- 		select id, itemName, content, price -->
<!-- 		from foodItem -->
<!-- 		<where></where> -->
<!-- 		WHERE 1=1 -->
<!-- 		<if test="id != null"> -->
<!-- 		And	id = #{id} -->
<!-- 		</if> -->
<!-- 		<if test="itemName != null"> -->
<!-- 		And content like #{itemName} -->
<!-- 		</if> -->
<!-- 		<if test="content !=null"> -->
<!-- 		And content like #{content} -->
<!-- 		</if> -->
<!-- 		ORDER BY id -->
<!-- 	</select> -->
	
	<select id="selectSearchAll" resultType="FoodItem">
		select id, itemName, content, price
		from foodItem
		<where>
			Where id IN
<!-- 			 id IN -->
			<foreach item="item" index="index" collection="ids"
				open="()" separator="," close=")"> 
				#{id}(1,2,3)
			</foreach>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="itemName != null">
				And content like #{itemName}
			</if>
			<if test="content !=null">
				And content like '%'||#{content}||'%'
			</if>
			<if test="price != null or price &lt; 10000">
				And price >= #{price}
			</if>
		</where>
		ORDER BY id
	</select>

<!-- 	<select id="selectSearchAll" resultType="FoodItem"> -->
<!-- 		select id, itemName, content, price -->
<!-- 		from foodItem -->
<!-- 		<choose> -->
<!-- 			<when test="id != null"> -->
<!-- 				id = #{id} -->
<!-- 			</when> -->
<!-- 			<when test="itemName != null"> -->
<!-- 				And content like #{itemName} -->
<!-- 			</when> -->
<!-- 			<otherwise> -->
<!-- 				And content like '%'||#{content}||'%' -->
<!-- 			</otherwise> -->
<!-- 		</choose> -->
<!-- 		ORDER BY id -->
<!-- 	</select> -->
	
	<update id="update">
		update foodItem
		SET	  itemName = #{updateItem.itemName},
			  content = #{updateItem.content},
			  price = #{updateItem.price}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteAll">
		delete from foodItem
	</delete>
</mapper>