<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="example.sample.project.repository.mybatis.FoodItemMapper">
	
	<insert id="insert" parameterType="FoodItem">
		insert into foodItem(id, itemName, content, price, soldOut, options, FoodType, shopCode)
		values( foodItemPK.nextVal, #{itemName}, #{content}, #{price})
	</insert>
	
	<select id="selectById" resultType="FoodItem">
		select id, itemName, content, price
		from FoodItem
		where id = #{id}
	</select>	
	
	<select id="selectAll" resultType="FoodItem">
		select id, itemName, content, price
		from foodItem
	</select>
	
	<update id="update">
		update foodItem
		SET	  itemName = #{itemName}
			  content = #{content}
			  price = #{price}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteAll">
		delete from foodItem
	</delete>
</mapper>