<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new</title>
    <style>
    	.errormsg {
    		color: red;
    	}
    </style>
</head>
<body>
    <h1>new FoodItem Page</h1>
    
    <form action="" method="post" th:object="${foodItem}">
  		<div th:if="${#fields.hasGlobalErrors()}">
   			<div th:each="error : ${#fields.globalErrors()}"
   					th:text="${error}"></div>
   		</div>
    	
    	<div>
    		<label>▶ ItemName<input type="text" name="originalItemName" th:field="*{itemName}"></label>
	    			<div class="errormsg" th:errors="*{itemName}"></div>
	    	<br>
    		
    		<label>▶ Content<input type="text" name="content" th:field="*{content}"></label>
					<div class="errormsg" th:errors="*{content}"></div>
	    	<br>
    		<label>▶ Price <input type="number" name="price" th:field="*{price}" ></label>
    			<div class="errormsg" th:errors="*{price}"></div>

    		<br>
    		<label>▶ Soldout<input type="checkbox" id="soldout" th:field="*{soldout}"></label>
    	</div>
    	
    	<div th:each="option : ${options}">
    		<input type="checkbox" th:field="*{options}" th:value="${option.key}">
    		<label th:for="${#ids.prev('options')}" th:text="${option.value}"></label>
    	</div>
    	<div th:each="foodType : ${foodTypes}">
    		<input type="radio" th:field="*{foodType}" th:value="${foodType.name}">
    		<label th:for="${#ids.prev('foodType')}" th:text="${foodType.memo}"></label>
    	</div>
    	<div>
    		<select th:field="*{shopCode}">
    			<option th:each="shopCode : ${shopCodes}"
    					th:value="${shopCode.code}" th:text="${shopCode.name}"></option>
    		</select>
    	</div>
    	<div>
    		<button type="submit">추가하기</button>
    		<button type="button" th:onclick="|location.href='@{/foods2}'|">뒤로가기</button>
    	</div>
    </form>
    <div th:each="option : ${options}"> 
    	<p th:text="${option.key}"></p>
    	<p th:text="${option.value}"></p>
    </div>
</body>
</html>