<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new</title>
    <style>
    	.errormsg {
    		color: red;
    	}
    </style>
</head>
<body>
    <h1>new FoodItem Page</h1>
    
    <form action="" method="post" th:object="${foodItem}">
  		<div th:if="${errors?.containsKey('globarError')}">
   			<div class="errormsg" th:text="${errors['globarError']}"></div>
   		</div>
    	<div>
    		<label>▶ ItemName<input type="text" name="originalItemName" th:field="*{itemName}"></label>
	    		<div th:if="${errors?.containsKey('itemName')}">
	    			<div class="errormsg" th:text="${errors['itemName']}"></div>
	    		</div>
	    	<br>
    		<label>▶ Content<input type="text" name="content" th:field="*{content}"></label>
	    		<div th:if="${errors?.containsKey('content')}">
	    			<div class="errormsg" th:text="${errors['content']}"></div>
	    		</div>
	    	<br>
    		<label>▶ Price<input type="number" name="price" th:field="*{price}" th:class="${errors?.containsKey('price')}? 'errormsg' : _"></label>
    			<div th:if="${errors?.containsKey('price')}">
    				<div class="errormsg" th:text="${errors['price']}"></div>
    			</div>
    		<br>
    		<label>▶ Soldout<input type="checkbox" id="soldout" th:field="*{soldout}"></label>
    	</div>
    	
    	<div th:each="option : ${options}">
    		<input type="checkbox" th:field="*{options}" th:value="${option.key}">
    		<label th:for="${#ids.prev('options')}" th:text="${option.value}"></label>
    	</div>
    	<div th:each="foodType : ${foodTypes}">
    		<input type="radio" th:field="*{foodType}" th:value="${foodType.name}">
    		<label th:for="${#ids.prev('foodType')}" th:text="${foodType.memo}"></label>
    	</div>
    	<div>
    		<select th:field="*{shopCode}">
    			<option th:each="shopCode : ${shopCodes}"
    					th:value="${shopCode.code}" th:text="${shopCode.name}"></option>
    		</select>
    	</div>
    	<div>
    		<button type="submit">추가하기</button>
    		<button type="button" th:onclick="|location.href='@{/foods}'|">뒤로가기</button>
    	</div>
    </form>
    <div th:each="option : ${options}"> 
    	<p th:text="${option.key}"></p>
    	<p th:text="${option.value}"></p>
    </div>
</body>
</html>